.ap-product-body {
    background: transparent url(../img/bg-2.jpg) repeat 0 0 / 75px;

    @include breakpoint(small only) {
        margin: 4rem 0 0 0;
        padding: 0 0 3rem 0;
    }

    @include breakpoint(medium only) {
        margin: 4rem 0 0 0;
        padding: 0 0 4rem 0;
    }

    @include breakpoint(large) {
        margin: 6rem 0 0 0;
        padding: 0 0 6rem 0;
    }

    @include breakpoint(xlarge) {
    }

    &__frame {
        @include xy-grid-container;

        @include breakpoint(xlarge) {
            display: flex;
        }
    }

    &__nav {
        @include breakpoint(xlarge) {}

        @include breakpoint(xlarge) {
            flex: 0 0 auto;
            padding: 0 3rem 0 0;
            width: 30%;
        }

        @include breakpoint(xxlarge) {
            // flex-grow: 1;
            // display: flex;
            // flex-direction: column;
            // justify-content: flex-end;
            padding-right: 3%;
            width: 25%;
        }
    }

    &__main {
        @include breakpoint(large down) {
            @include xy-grid-container($width: $ap-product-body-width);
        }

        @include breakpoint(xlarge) {
            width: 60%;
        }

        @include breakpoint(xxlarge) {
            width: 50%;
        }

        .ap-anchor {
            top: 0;

            &:first-child {
                top: -6rem;
            }
        }
    }

    &__footer {

        @include breakpoint(small only) {
            margin: 3rem 0 0 0;
            // padding: 3rem 0;
        }

        @include breakpoint(medium only) {
            margin: 4rem 0 0 0;
            // padding: 4rem 0;
        }

        @include breakpoint(large) {
            margin: 6rem 0 0 0;
            // padding: 6rem 0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            @include breakpoint(small only) {}

            @include breakpoint(medium) {
                display: flex;
                column-gap: 3px;
            }

            @include breakpoint(large) {}

            li {
                background-color: rgba(180, 180, 180, .15);
                flex: 1 0 50%;
                text-align: center;

                @include breakpoint(small only) {
                    margin: 0 0 3px 0;
                    padding: 1.5rem;
                    font-size: 1.0625rem;
                }

                @include breakpoint(medium only) {
                    padding: 2rem;
                    font-size: 1.125rem;
                }

                @include breakpoint(large) {
                    padding: 2.5rem;
                    font-size: 1.125rem;
                }

                @include breakpoint(xlarge) {
                    padding: 3rem;
                    font-size: 1.125rem;
                }

                >a {
                    color: $body-font-color;

                    &:hover {
                        color: $anchor-color-hover;
                    }
                }
            }
        }
    }
}