@font-face {
    font-family: 'Kinto Sans';
    src:
        url('../fonts/KintoSans-Regular.woff2') format('woff2'),
        url('../fonts/KintoSans-Regular.woff') format('woff'),
        url('../fonts/KintoSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Kinto Sans';
    src:
        url('../fonts/KintoSans-Medium.woff2') format('woff2'),
        url('../fonts/KintoSans-Medium.woff') format('woff'),
        url('../fonts/KintoSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Kinto Sans';
    src:
        url('../fonts/KintoSans-Bold.woff2') format('woff2'),
        url('../fonts/KintoSans-Bold.woff') format('woff'),
        url('../fonts/KintoSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Kinto Sans';
    src:
        url('../fonts/KintoSans-Black.woff2') format('woff2'),
        url('../fonts/KintoSans-Black.woff') format('woff'),
        url('../fonts/KintoSans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

// @font-face {
//     font-family: 'stolzl';
//     src:
//         url('../fonts/stolzl-book-webfont.woff2') format('woff2'),
//         url('../fonts/stolzl-book-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'stolzl';
//     src:
//         url('../fonts/stolzl-bold-webfont.woff2') format('woff2'),
//         url('../fonts/stolzl-bold-webfont.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }


@font-face {
    font-family: 'D Sari';
    src:
        url('../fonts/DSari_Regular-webfont.woff2') format('woff'),
        url('../fonts/DSari_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D Sari';
    src:
        url('../fonts/DSari_Medium-webfont.woff2') format('woff'),
        url('../fonts/DSari_Medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'D Sari';
    src:
        url('../fonts/DSari_Heavy-webfont.woff2') format('woff'),
        url('../fonts/DSari_Heavy-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'D Sari';
    src:
        url('../fonts/D_Sari_UltraBlack-webfont.woff2') format('woff'),
        url('../fonts/D_Sari_UltraBlack-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'FranklinGothic URW';
    src:
        url('../fonts/FranklinGothicURW-Boo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranklinGothic URW';
    src:
        url('../fonts/FranklinGothicURW-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FranklinGothic URW';
    src:
        url('../fonts/FranklinGothicURW-Dem.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FranklinGothic URW';
    src:
        url('../fonts/FranklinGothicURW-Hea.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'TT Norm';
    src:
        url('../fonts/TTNorms-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norm';
    src:
        url('../fonts/TTNorms-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norm';
    src:
        url('../fonts/TTNorms-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norm';
    src:
        url('../fonts/TTNorms-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

