html {

    // &.-overlay & {
    //     position: fixed;
    //     // width: 100%;
    //     height: 100vh;
    //     overflow-y: hidden;
    // }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: transparent url(../img/bg.jpg) repeat 0 0 / 75px;

    .-overlay & {
        // position: fixed;

        // width: 100%;
        overflow-y: hidden;
        // padding-right: .5rem;
    }
}