html {

    // &.-overlay & {
    //     position: fixed;
    //     // width: 100%;
    //     height: 100vh;
    //     overflow-y: hidden;
    // }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;

    background: transparent url(../img/bg.jpg) repeat 0 0 / 75px;

    .-overlay & {
        overflow-y: hidden;
    }
}