$ap-border-color: #efefef;//#e9e9e9;
$ap-border-color-nega: #cfcfcf;

$ap-input-label-gutter: 5px;
$ap-inputmimic-bg-color: #DAE7F6;

$ap-product-header-width: 1300px;
$ap-product-body-width: 824px;
$ap-product-body-width-xlarge: 824px;

$ap-aspect-ratio: 16 / 9!global;

@mixin aspect-ratio() {

    aspect-ratio: $ap-aspect-ratio;

    &.-default {
        aspect-ratio: 4 / 3;
    }

    &.-widescreen {
        aspect-ratio: 16 / 9;
    }

    &.-square {
        aspect-ratio: 1 / 1;
    }
}

@mixin bordered() {
    border: 1px solid $ap-border-color;
}