.ap-cart-item-altcontrol {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;

    @include breakpoint(small only) {
        margin: 1.5rem 0 0 0;
    }

    @include breakpoint(medium only) {
        margin: 1.5rem 0 0 0;
    }

    @include breakpoint(medium) {}

    @include breakpoint(large) {}
}