.ap-cart-item {

    @include breakpoint(small only) {
        // display: flex;
        // column-gap: 1.5rem;
        padding: 1.5rem 0;
        border-top: 1px solid $ap-border-color;

        &:first-child {
            border-top: 0;
        }
    }

    @include breakpoint(medium) {
        display: flex;
        column-gap: 1.5rem;
        padding: 1.5rem 0;
        border-top: 1px solid $ap-border-color;

        &:first-child {
            border-top: 0;
        }
    }

    @include breakpoint(large) {
        column-gap: 2rem;
        padding: 1.5rem 0;
    }

    &.-added {
        animation: .5s linear fadein;
    }

    &.-deleted {
        animation: .5s linear fadeout;
    }

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }

    &__image {
        display: block;

        @include breakpoint(small only) {
            display: none;
            // width: 140px;
        }

        @include breakpoint(medium) {
            width: 150px;
        }

        @include breakpoint(large) {
            width: 170px;
        }
    }

    &__title {
        margin: 0 0 auto 0;

        >a {
            color: $body-font-color;

            &:hover {
                color: $anchor-color;
            }
        }
    }

    &__price {
        margin: 0 1rem 0 0;
        // padding: 0 1.5rem 0 0;
        line-height: 1.2;
        // border-right: 3px solid $ap-border-color;
        font-size: 1.125rem;

        >del {
            margin: 0 0 0 .25rem;
            font-size: 1rem;
            color: $dark-gray;

            &.-hide {
                display: none;
            }
        }
    }

    &__subtotal {
        font-size: 1.25rem;
        font-weight: 500;
    }

    &__description {
        margin: .5rem 0 0 0;
    }

    &__actions {
        margin: 1.25rem 0 0 0;
        font-size: 0.875rem;

        @include breakpoint(small only) {}

        @include breakpoint(medium) {
            display: flex;
            align-items: center;
            column-gap: 1.5rem;
        }
    }

    &__delete {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        // color: $anchor-color;
        cursor: pointer;
        font-size: .8rem;

        &:before {
            content: '';
            margin: 0 .4rem 0 0;
            width: 14px;
            height: 14px;
            background-image: url(../img/icon-delete.svg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
        }

        &:hover {
            color: $anchor-color;
        }
    }

    &__stash {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        // color: $anchor-color;
        cursor: pointer;
        font-size: .8rem;

        &:before {
            content: '';
            margin: 0 .4rem 0 0;
            width: 10px;
            height: 15px;
            background-image: url(../img/icon-bookmark.svg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
        }

        &:hover {
            color: $anchor-color;
        }
    }

    &__addcart {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        // color: $anchor-color;
        cursor: pointer;
        font-size: .8rem;

        &:before {
            content: '';
            margin: 0 .4rem 0 0;
            width: 14px;
            height: 14px;
            background-image: url(../img/icon-cart.svg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
        }

        &:hover {
            color: $anchor-color;
        }

        &.-disabled,
        &[aria-disabled="true"],
        &:disabled {
            color: $medium-gray;
            cursor: default;
            pointer-events: none;
        }

        &[aria-hidden="true"] {
            display: none !important;
        }
    }

    &__imagecol {
        flex: 0 0 auto;
    }

    &__detailcol {
        display: flex;
        flex-direction: column;
    }

    &__pricecol {
        flex: 0 0 auto;
        margin: 0 0 0 auto;
        // width: 10rem;
    }
}