.ap-product-extrafees {
    margin: 0;
    padding: 1.5rem;
    font-size: .9375rem;

    > ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style-type: none;

        &:last-child {
            margin-bottom: 0;
        }

        >li {
            margin: 0 0 1rem 0;
            padding: 0 0 1rem 0;
            border-bottom: 1px solid $ap-border-color;

            &:first-child {
                // padding-top: 0;
            }

            &:last-child {
                // margin-bottom: 0;
            }
        }
    }
}