.ap-product-header {
    @include xy-grid-container($width: $ap-product-header-width);

    @include breakpoint(small only) {}

    @include breakpoint(medium only) {}

    @include breakpoint(large) {
        display: flex;
    }

    &__main {
        @include breakpoint(small only) {
            margin-bottom: 2rem;
        }

        @include breakpoint(medium only) {
            margin-bottom: 3rem;
        }

        @include breakpoint(large) {
            display: flex;
            flex-direction: column;

            margin: 0;
            padding: 0 4rem 0 0;
            width: 60%;
        }

        @include breakpoint(xlarge) {
            width: 66.6%;
        }
    }

    &__sub {
        @include breakpoint(large) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            width: 40%;
        }

        @include breakpoint(xlarge) {
            width: 33.4%;
        }
    }
}