.ap-product-price {
    @include breakpoint(small only) {
        margin: 0;
        padding: 2rem 0;
        border-top: 2px solid rgba(180, 180, 180, 0.2);
        border-bottom: 2px solid rgba(180, 180, 180, 0.2);
        text-align: center;
    }

    @include breakpoint(medium only) {
        margin: 0;
    }

    @include breakpoint(large) {
        margin: 0;
    }

    &__board {
        @include breakpoint(small only) {
        }

        @include breakpoint(medium) {
            display: flex;
            align-items: flex-end;
            column-gap: .5rem;
        }

        >* {
            line-height: 1;
        }
    }

    &__discount {
        display: flex;
        align-items: flex-end;
        margin: 0 .5rem 0 0;
        color: $alert-color;

        >b {
            line-height: .8;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    &__current {
        display: flex;
        align-items: flex-end;

        @include breakpoint(small only) {
            justify-content: center;
        }

        >b {
            margin: 0 .125rem 0 0;
            line-height: .8;
            font-size: 1.875rem;
            font-weight: 700;
        }
    }

    &__point {
        margin: 0;

        @include breakpoint(small only) {
            display: block;
            margin-top: 1rem;
        }

        @include breakpoint(medium) {
            padding: 0 0 0 .5rem;
            border-left: 2px solid $ap-border-color;
            font-size: 0.875rem;
        }
    }

    &__original {
        display: block;
        margin: 0.75rem 0 0 0;
        color: $dark-gray;
        // font-size: 0.9375rem;
    }

    &__associate {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;

        >b {
            margin: 0 .75rem 0 .25rem;
            color: $alert-color;
            font-weight: 500;
        }

        // color: $dark-gray;
        // background-color: $ap-border-color;
    }

    &__code {
        display: block;
        margin: 0.25rem 0 0 0;
        color: $dark-gray;
        font-size: 0.9375rem;
    }
}