.ap-login {
    @include xy-grid-container($width: $ap-product-body-width);

    @include breakpoint(small only) {
    }

    @include breakpoint(medium only) {
        max-width: 420px;
    }

    @include breakpoint(large) {
        display: flex;
        column-gap: 2rem;
    }

    .ap-block {

        @include breakpoint(small only) {
            margin: 0 0 2rem 0;
        }

        @include breakpoint(medium only) {
            margin: 0 0 2rem 0;
        }

        @include breakpoint(large) {
            flex: 0 0 auto;
            margin: 0;
            width: calc((100% - 2rem) / 2);
        }
    }
}