.ap-cart {
    @include xy-grid-container($width: $ap-product-header-width);

    @include breakpoint(small only) {
        margin-bottom: 2rem;
    }

    @include breakpoint(medium) {
        margin-bottom: 2.5rem;
    }

    @include breakpoint(large) {}

    @include breakpoint(xlarge) {
        margin-bottom: 3rem;
    }

    &__subtitle {
        margin: 0;
        font-weight: 500;

        @include breakpoint(small only) {
            font-size: 1.125rem;
        }

        @include breakpoint(medium only) {}

        @include breakpoint(medium) {
            margin-bottom: 1.5rem;
            font-size: 1.25rem;
        }

        @include breakpoint(large) {}
    }
}