.ap-cart-main {
    @include breakpoint(small only) {
        margin-bottom: 2rem;
    }

    @include breakpoint(medium) {
        margin-bottom: 2.5rem;
    }

    @include breakpoint(large) {
        display: flex;
        column-gap: 2rem;
    }

    @include breakpoint(xlarge) {
        margin-bottom: 3rem;
    }

    &__items {
        background: $white;
        @include bordered();

        @include breakpoint(medium) {
            padding: 0 1.5rem;
        }

        @include breakpoint(large) {
            flex: 0 0 auto;
            width: 65%;
        }

        @include breakpoint(xlarge) {
            width: 70%;
        }
    }

    &__proceed {
        @include breakpoint(medium) {}

        @include breakpoint(large) {
            width: 35%;
        }

        @include breakpoint(xlarge) {
            width: 30%;
        }
    }
}