.ap-cart-main {
    @include breakpoint(small only) {
    }

    @include breakpoint(medium) {

    }

    @include breakpoint(large) {
        display: flex;
        column-gap: 2rem;
    }

    &__items {
        background: $white;

        @include breakpoint(medium) {
            padding: 0 1.5rem;
        }

        @include breakpoint(large) {
            padding: 0 1.5rem;
            width: 70%;
        }

        @include breakpoint(xlarge) {
            // width: 65%
        }
    }

    &__summary {
        background: $white;

        @include breakpoint(medium) {
        }

        @include breakpoint(large) {
            width: 30%;
        }

        @include breakpoint(xlarge) {
            // width: 35%;
        }
    }
}