.ap-checkout-breakdown {
    margin: 0 0 1.5rem 0;
    width: 100%;
    border-spacing: 0;

    th {
        margin: 0;
        padding: .5rem;
        text-align: left;
    }

    td {
        margin: 0;
        padding: .5rem;
        text-align: right;
    }

    >tbody {
        >tr {
            >th,
            >td {
                font-weight: normal;
                border-bottom: 1px solid $ap-border-color;
            }

            >td {}

            &:first-child {
                >th,
                >td {
                    padding-top: 0;
                }
            }
        }
    }

    >tfoot {
        color: $alert-color;

        >tr {
            >th {
                padding: .75rem .5rem;
                font-size: 1rem;
                border-bottom: 1px solid $ap-border-color;
            }

            >td {
                padding: .75rem .5rem;
                font-size: 1.5rem;
                font-weight: bold;
                border-bottom: 1px solid $ap-border-color;
            }
        }
    }
}