.ap-checkout {
    &:not(.-preview) {
        @include xy-grid-container($width: $ap-product-header-width);
    }

    @include breakpoint(small only) {
        margin-bottom: 2rem;
    }

    @include breakpoint(medium) {
        margin-bottom: 2.5rem;
    }

    @include breakpoint(large) {
        display: flex;
        flex-wrap: wrap;
    }

    @include breakpoint(xlarge) {
        margin-bottom: 3rem;
    }

    &__edit {
        // background: $white;

        @include breakpoint(medium) {}

        @include breakpoint(large) {
            padding: 0 2rem 0 0;
            width: 65%;
        }

        @include breakpoint(xlarge) {
            width: 70%;
        }
    }

    &__proceed {
        @include breakpoint(medium) {}

        @include breakpoint(large) {
            width: 35%;
        }

        @include breakpoint(xlarge) {
            width: 30%;
        }
    }
}