.ap-checkout {
    &:not(.-preview) {
        @include xy-grid-container($width: $ap-ordersheet-body-width);
    }

    @include breakpoint(small only) {
        margin-bottom: 2rem;
    }

    @include breakpoint(medium) {
        margin-bottom: 2.5rem;
    }

    @include breakpoint(large) {
    }

    @include breakpoint(xlarge) {
        margin-bottom: 3rem;
    }
}