.ap-checkout-info {
    margin: 0 0 1.5rem 0;
    width: 100%;
    border-spacing: 0;
    border-top: 1px solid $ap-border-color;

    th {
        margin: 0;
        padding: .5rem;
        text-align: left;
    }

    td {
        margin: 0;
        padding: .5rem;
        text-align: right;
    }

    >tbody {
        >tr {

            >th,
            >td {
                font-weight: normal;
                border-bottom: 1px solid $ap-border-color;
            }

            >td {}
        }
    }

    &:first-child {
        border-top: 0;

        >tbody {
            >tr {
                &:first-child {

                    >th,
                    >td {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    &:last-child {
        margin-bottom: 0;

        >tbody {
            >tr {
                &:last-child {
                    >th,
                    >td {
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}