.ap-checkout-item {
    @include breakpoint(small only) {}

    @include breakpoint(medium) {
        display: flex;
        column-gap: 1.5rem;
        padding: 1.5rem 0;
        border-top: 1px solid $ap-border-color;

        &:first-child {
            border-top: 0;
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    @include breakpoint(large) {
        column-gap: 2rem;
        padding: 1.5rem 0;
    }

    &__title {
        margin: 0 0 auto 0;
    }

    &__subtotal {
        flex: 0 0 auto;
        margin: 0 0 0 auto;
        font-size: 1.125rem;
        font-weight: 500;
    }

    &__description {
        display: flex;
        align-items: center;
        column-gap: .5rem;

        margin: .5rem 0 0 0;
    }

    &__qty {
        line-height: 1;

        &:after {
            content: "\00D7"; //&times;
            margin: 0 0 0 .5rem;
        }
    }

    &__price {
        display: flex;
        align-items: flex-end;
        column-gap: .5rem;
        line-height: 1;

        >strong {
            font-weight: normal;
        }

        >del {
            font-size: .875rem;
            color: $dark-gray;
        }

        >small {
            font-size: .8rem;
            color: $alert-color;
        }
    }

    &__detailcol {}
}