.ap-checkout-paymentitem {
    margin: 0;
    padding: 1.25rem 0;
    border-bottom: 1px solid $light-gray;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
    }

    >.ap-edit-radio-set {
        font-size: 1rem;
    }
}