.ap-checkout-paymentitem {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid $ap-border-color;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
    }

    >.ap-edit-radio-set {
        font-size: 1rem;
    }

    &__fee {
        margin: 0 0 0 1rem;
        font-weight: normal;
        color: $alert-color;
    }
}