.ap-checkout-section {
    background-color: $white;

    @include breakpoint(medium) {
        margin-bottom: 1.5rem;
    }

    @include breakpoint(large) {}

    @include breakpoint(xlarge) {}

    &__title {
        @include breakpoint(medium) {
            margin: 0;
            padding: 1rem 1.5rem;
            font-size: 1rem;
            border-bottom: 1px solid $ap-border-color;
            font-weight: 500;
        }

        @include breakpoint(large) {}

        @include breakpoint(xlarge) {}
    }

    &__items {
        @include breakpoint(medium) {
            padding: 1.5rem;
        }

        @include breakpoint(large) {}

        @include breakpoint(xlarge) {}

        >*:last-child {
            margin-bottom: 0;
        }
    }
}