.ap-checkout-summary {
    background-color: $white;
    @include bordered();

    @include breakpoint(medium) {
        margin: 0 0 1.5rem 0;
        padding: 1.5rem;
    }

    @include breakpoint(large) {
        position: sticky;
        top: 1.5rem;

        padding: 1.5rem;
    }

    @include breakpoint(xlarge) {
    }

    .-preview & {
        position: static;
    }
}