.ap-checkout-summary {
    background-color: $white;
    @include bordered();

    margin: 0 0 1.5rem 0;

    @include breakpoint(small only) {
        padding: 1.25rem;
    }

    @include breakpoint(medium) {
        padding: 1.5rem;
    }

    @include breakpoint(large) {
        position: sticky;
        top: 1.5rem;

        padding: 1.5rem;
    }

    @include breakpoint(xlarge) {
    }

    .-preview & {
        position: static;
    }
}