.ap-bargain {
    &__name {
        @include xy-grid-container($width: $ap-product-header-width);

        & {
            line-height: 1.3;
            font-weight: 900;

            @include breakpoint(small only) {
                font-size: 2rem;
            }

            @include breakpoint(medium only) {
                font-size: 2.5rem;
            }

            @include breakpoint(large) {
                font-size: 3rem;
            }

            .-ja {
                @include breakpoint(small only) {
                    font-size: 1.7rem;
                }

                @include breakpoint(medium only) {
                    font-size: 2.2rem;
                }

                @include breakpoint(large) {
                    font-size: 2.7rem;
                }
            }
        }

        @include breakpoint(small only) {
            margin-bottom: 2rem;
        }

        @include breakpoint(medium only) {
            margin-bottom: 2.5rem;
        }

        @include breakpoint(large) {
            margin-bottom: 2.5rem;
        }
    }

    &__orderby {
        @include xy-grid-container($width: $ap-product-header-width);

        & {
            list-style-type: none;

            >li {
                font-size: 0.9375rem;
                cursor: pointer;

                >a {
                    display: block;
                    padding: 0.5rem 0.75rem;
                    background-color: rgba(120, 120, 120, 0.1);
                    color: $body-font-color;

                    &:hover {
                        background-color: $white;//gba(120, 120, 120, 0.5);
                    }
                }

                @include breakpoint(small only) {
                    margin-bottom: .5rem;

                    >a {
                        @include border-radius;
                    }
                }

                @include breakpoint(medium) {
                    &:first-child {
                        >a {
                            border-top-left-radius: $global-radius;
                            border-bottom-left-radius: $global-radius;
                        }
                    }

                    &:last-child {
                        >a {
                            border-top-right-radius: $global-radius;
                            border-bottom-right-radius: $global-radius;
                        }
                    }
                }

                &.-active {
                    >a {
                        background-color: $white;
                    }
                }
            }
        }

        @include breakpoint(small only) {
            margin-bottom: 2rem;
            text-align: center;
        }

        @include breakpoint(medium) {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 2px;
            margin-bottom: 3rem;
        }
    }
}