.ap-checkout-review-header {
    @include breakpoint(medium) {
        margin: 0 0 1rem 0;
        padding: 0 0 1.5rem 0;
        border-bottom: 1px solid $ap-border-color;
    }

    >*:last-child {
        margin-bottom: 0;
    }
}