.ap-announcement {
    @include xy-grid-container;
    background: transparent url(../img/bg-2.jpg) repeat 0 0 / 75px;


    &__content {
        margin: 0;
        text-align: center;

        @include breakpoint(small only) {
            padding-top: .75rem;
            padding-bottom: .75rem;
        }

        @include breakpoint(mediumq) {
            padding-top: .875rem;
            padding-bottom: .875rem;
        }
    }
}