.ap-block {
    background-color: $white;
    @include bordered();

    @include breakpoint(medium) {
        margin-bottom: 2rem;
    }

    @include breakpoint(large) {}

    @include breakpoint(xlarge) {}

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        margin: 0;
        border-bottom: 1px solid $ap-border-color;
        font-weight: 500;

        @include breakpoint(small only) {
            padding: .75rem 1.25rem;
            font-size: 1rem;
        }

        @include breakpoint(medium) {
            padding: 1rem 1.5rem;
            font-size: 1rem;
        }

        @include breakpoint(large) {}

        @include breakpoint(xlarge) {}
    }

    &__content {
        @include breakpoint(small only) {
            padding: 1.25rem;
        }

        @include breakpoint(medium) {
            padding: 1.5rem;
        }

        @include breakpoint(large) {}

        @include breakpoint(xlarge) {}

        >*:last-child {
            margin-bottom: 0;
        }

        &+.ap-block__content {
            border-top: 1px solid $ap-border-color;
        }
    }

    &__footer {
        @include breakpoint(medium) {}

        @include breakpoint(large) {}

        @include breakpoint(xlarge) {}
    }

    &__description {
        margin: 0 0 1.5rem 0;
        font-size: 0.9375rem;

        >*:last-child {
            margin-bottom: 0;
        }

        b {
            font-weight: 500;
            background-color: #FFE382;//$warning-color;
        }
    }
}