.ap-box {
    background-color: $white;
    @include bordered();

    @include breakpoint(medium) {
        padding: 1.5rem;
    }

    @include breakpoint(large) {
        padding: 1.5rem;
    }

    @include breakpoint(xlarge) {
    }
}