.ap-button {
    $tmp-margin: $button-margin;
    $tmp-padding: $button-padding;

    $button-margin: 0 !global;
    $button-padding: .55rem .75rem !global;

    &.-action {
        @include button($background: $primary-color); //, $background-hover: $warning-color);
        padding: .75rem .875rem;
        font-size: 1.0625rem;
        font-weight: 500;
    }

    &.-small {
        @include button;
        padding: .35rem .35rem;
        line-height: 1;
        font-size: .8rem;
    }

    &.-alert {
        @include button($background: $alert-color, $background-hover: $warning-color);
    }

    &:not(.-alert):not(.-action):not(.-small) {
        @include button;
    }

    $button-margin: $tmp-margin !global;
    $button-padding: $tmp-padding !global;

    &.-expanded {
        display: block;
        width: 100%;
    }

    &.-disabled,
    &[aria-disabled="true"],
    &:disabled {
        background-color: $medium-gray;
        color: $white;
        cursor: not-allowed;
        pointer-events: none;
    }
}