.ap-header {
    @include breakpoint(small only) {
        margin-bottom: 2.5rem;

        .-home & {
            margin-bottom: 2rem;
        }
    }

    @include breakpoint(medium only) {
        margin-bottom: 3rem;

        .-home & {
            margin-bottom: 2rem;
        }
    }

    @include breakpoint(large only) {
        margin-bottom: 3rem;

        .-home & {
            margin-bottom: 2rem;
        }
    }

    @include breakpoint(xlarge) {
        margin-bottom: 4rem;

        .-home & {
            margin-bottom: 2rem;
        }
    }
}