.ap-messagebox {
    @include xy-grid-container($width: $ap-product-body-width);

    @include breakpoint(small only) {}

    @include breakpoint(medium only) {}

    @include breakpoint(large) {}

    &__title {
        margin: 0;
        font-weight: 500;

        @include breakpoint(small only) {
            margin-bottom: 1rem;
            font-size: 1.125rem;
        }

        @include breakpoint(medium) {
            margin-bottom: 1.5rem;
            // margin-right: auto;
            font-size: 1.25rem;
        }

        @include breakpoint(large) {}
    }
}