.ap-message {
    margin: 0 0 1.5rem 0;
    padding: .875rem;

    background-color: #E5F1FF;
    // color: $alert-color;
    font-size: .875rem;

    &.-alert {
        background-color: #F7EBF0;
        border: 1px solid #EFEAED;
        color: $alert-color;
    }

    >ul {
        margin-bottom: 0;
    }
}