.ap-supportmenu {
    @include xy-grid-container;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    // margin: 0;
    // padding: 0;
    margin-bottom: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    list-style-type: none;
    width: 100%;
    font-size: .875rem;

    >li {
        margin: 0 0 0 1rem;
        padding: 0 0 0 1rem;
        border-left: 1px solid $medium-gray;

        > a {
            color: $body-font-color;
        }
    }
}