.ap-receipt-header {
    position: relative;
    display: flex;
    justify-content: space-between;

    margin: 0 0 4rem 0;
    padding: 0;

    &__title {
        margin: 0 auto 0 0;
        font-weight: normal;
        font-size: 2rem;
        letter-spacing: 1rem;
    }

    &__attr {
        margin: 0;
        padding: 0;
        line-height: 1.4;

        list-style-type: none;

        >li {
            display: flex;
            margin: 0 0 .5rem 0;
            padding: 0 0 .5rem 0;
            border-bottom: 1px solid $black;

            >span {
                flex: 0 0 10rem;
                width: 10rem;
            }
        }
    }
}