.ap-topbar-mymenu {
    position: relative;

    &__button {
        flex: 0 0 auto;
        color: $body-font-color;
        font-size: 0.875rem;
        cursor: pointer;

        @include breakpoint(small only) {
            display: block;

            margin-left: 1.25rem;
            white-space: nowrap;
            overflow: hidden;
            text-indent: 100%;
            cursor: pointer;

            width: 20px;
            height: 20px;
            background: transparent url(../img/icon-account.svg) no-repeat center 0 / contain;

            .-active & {
                width: 19px;
                height: 19px;

                @include breakpoint(small only) {
                    width: 18px;
                    height: 18px;
                }
            }
        }

        @include breakpoint(medium only) {
            margin-left: 1.875rem;
        }

        @include breakpoint(large) {
            margin-left: 1.875rem;
        }
    }

    &__items {
        display: none;

        &[data-opened] {
            display: block;
        }

        position: absolute;
        z-index: 100;

        margin: 0;
        padding: .25rem 1rem;
        list-style-type: none;
        background: $white;
        border: 1px solid $ap-border-color;
        font-size: .875rem;
        // box-shadow: 1px 1px 2px #efefef;
        @include border-radius;

        @include breakpoint(small only) {
            top: calc(100% + 1.75rem);
            right: -.875rem;
        }

        @include breakpoint(medium only) {
            top: calc(100% + 1.75rem);
            right: -1rem;
        }

        @include breakpoint(large) {
            top: calc(100% + 2.25rem);
            right: 0;
        }

        &:before {
            position: absolute;
            top: -7px;
            right: 1rem;
            display: block;
            content: '';
            border: solid $ap-border-color;
            border-width: 0 1px 1px 0;
            margin: 0;
            padding: 6px;
            transform: rotate(-135deg);
            background: $white;
        }

        >li {
            border-bottom: 1px solid $ap-border-color;

            &:last-child {
                border-bottom: 0;
            }

            >a {
                display: block;
                margin: 0;
                padding: .75rem .25rem;
                min-width: 10rem;
                white-space: nowrap;

                color: $body-font-color;

                &:hover {
                    color: $anchor-color-hover;
                }
            }
        }
    }
}