.ap-claimed {
    display: flex;
    align-items: flex-end;

    margin: 0 .75rem 0 1rem;
    padding: .75rem;
    width: 200px;
    border: 2px solid $black;

    &__prefix {
        flex: 1;
    }

    &__suffix {
        margin: 0 0 0 .5rem;
    }

    &__amount {
        font-size: 1.125rem;
    }
}