.ap-lead {
    display: block;
    margin: 0;
    max-width: 50%;
    font-size: .875rem;

    >*:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    &.-expand {
        max-width: 100%;
    }
}