.ap-grid {
    $parent: &;

    display: flex;
    flex-wrap: wrap;

    & {
        @include breakpoint(small only) {
            gap: .75rem;

            // 2列
            #{$parent}-item {
                width: calc((100% - .75rem) / 2);
            }
        }

        @include breakpoint(medium) {
            gap: 1.25rem;

            // 3列
            #{$parent}-item {
                width: calc((100% - 2.5rem) / 3);
            }
        }

        @include breakpoint(large) {
            gap: 1.5rem;

            // 3列
            #{$parent}-item {
                width: calc((100% - 3rem) / 3);
            }

            &.-single {
                // grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }

        @include breakpoint(xlarge) {
            &.-flex {

                // 3列
                #{$parent}-item {
                    width: calc((100% - 3rem) / 3);
                }
            }

            &.-full {

                // 4列
                #{$parent}-item {
                    width: calc((100% - 4.5rem) / 4);
                }
            }
        }

        @include breakpoint(xxlarge) {
            &.-flex {

                // 4列
                #{$parent}-item {
                    width: calc((100% - 4.5rem) / 4);
                }
            }

            &.-full {

                // 5列
                #{$parent}-item {
                    width: calc((100% - 6rem) / 5);
                }
            }
        }
    }
}