.ap-grid-item {
    $parent: &;

    position: relative;
    display: flex;
    flex-direction: column;

    background-color: $white;
    border: 1px solid $ap-border-color;

    @include breakpoint(small only) {
        // margin-bottom: .5rem;
        padding: .5rem;
        // border-color: #efefef;
    }

    @include breakpoint(medium) {
        padding: .875rem;
    }

    @include breakpoint(large) {
        padding: .875rem;
    }

    @include breakpoint(xlarge) {
        padding: 1rem;
    }

    @include breakpoint(xxlarge) {}


    >a {
        color: inherit;

        &:hover {
            #{$parent}__title {
                color: $anchor-color-hover;
            }
        }
    }

    &__pic {
        display: block;

        @include breakpoint(small only) {
            margin: 0 0 .5rem 0;
        }

        @include breakpoint(medium only) {
            margin: 0 0 1rem 0;
        }

        @include breakpoint(large) {
            margin: 0 0 1.25rem 0;
        }

        // border-bottom: 3px solid $black;

        >img {
            display: block;
            aspect-ratio: 16 / 9;
            width: 100%;
            object-fit: cover;
        }
    }

    &__title {
        margin: 0 0 .5rem 0;
        line-height: 1.3;
        font-size: 1.25rem;
        font-weight: 700;
        font-feature-settings: "palt";


        &.-small {
            font-size: 1rem;
            font-weight: 400;
        }

        &.-medium {
            @include breakpoint(small only) {
                font-size: 1rem;
                font-weight: 400;
            }

            @include breakpoint(medium) {
                font-size: 1.125rem;
                font-weight: 500;
            }
        }

        >.__divide {
            display: block;
        }

        >a {
            color: $body-font-color;

            &:hover {
                color: $anchor-color-hover;
            }
        }

        @include breakpoint(small only) {
            font-size: 1.125rem;
        }
    }

    &__description {
        margin: 0;
        line-height: 1.5;

        @include breakpoint(small only) {
            font-size: 0.935rem;
            line-height: 1.4;
        }
    }

    &__badge {
        position: absolute;
        top: 0;
        right: 0;

        margin: 0;
        line-height: 1;
        font-weight: 700;
        color: $white;
        background-color: $alert-color;

        aspect-ratio: 1;
        clip-path: polygon(0 100%, 50% 50%, 100% 100%);
        transform: rotate(45deg);

        >span {
            position: absolute;
            left: 0;
            right: 0;
            bottom: .35rem;
            display: block;
            width: 100%;
            display: block;
            font-size: 1rem;
            text-align: center;

            >small {
                margin: 0 0 0 0.125rem;
                font-size: 0.875rem;
            }
        }

        @include breakpoint(small only) {
            top: -4rem;
            right: -4rem;
            width: 8rem;
            font-size: .875rem;

            >small {
                margin: 0 0 0 0.125rem;
                font-size: 0.75rem;
            }
        }

        @include breakpoint(medium only) {
            top: -4.5rem;
            right: -4.5rem;

            width: 9rem;

            >span {
                >small {}
            }
        }

        @include breakpoint(large) {
            top: -4.25rem;
            right: -4.25rem;

            width: 8.5rem;

            >span {
                font-size: 1.125rem;

                >small {
                    margin: 0 0 0 0.125rem;
                }
            }
        }

        @include breakpoint(xlarge) {
            top: -4.75rem;
            right: -4.75rem;

            width: 9.5rem;

            >span {
                // font-size: 1.125rem;

                >small {
                    // margin: 0 0 0 0.125rem;
                }
            }
        }
    }

    &__footnote {
        // flex-grow: 1;
        margin: auto 0 0 0;

        &.-alert {
            color: $alert-color;
        }

        >del {
            display: inline-block;
            margin: 0 0 0 .5rem;
            color: $dark-gray;
        }
    }
}