<footer class="ap-footer">
    <div class="ap-associate-share">
        <div class="ap-associate-share__frame">
            <h2 class="ap-associate-share__title">アソシエイトメンバー様用: <span>紹介料率 <b>15%</b></span></h2>
            <dl class="ap-associate-share-tags">
                <div class="ap-associate-share-tags__item">
                    <dt class="ap-associate-share-tags__name">URL <span class="ap-copytext__button" data-copy-icon="associate_url">URLをコピー</span></dt>
                    <dd class="ap-associate-share-tags__target">
                        <span data-copy="associate_url" data-copy-multiline class="ap-copytext">
                            <span class="ap-copytext__target" data-copy-target="associate_url">
                                https://beatcloud.jp/product/3004?atag=grantechcoltd
                            </span>
                        </span>
                    </dd>
                </div>
                <div class="ap-associate-share-tags__item">
                    <dt class="ap-associate-share-tags__name">テキストリンク <span class="ap-copytext__button" data-copy-icon="associate_tag">タグをコピー</span></dt>
                    <dd class="ap-associate-share-tags__target">
                        <span data-copy="associate_tag" data-copy-multiline class="ap-copytext">
                            <span class="ap-copytext__target" data-copy-target="associate_tag">
                                &lt;a href="https://beatcloud.jp/product/3004?atag=grantechcoltd"&gt;IK Multimedia(ソフトウェア) Pianoverse Grand Piano Y7 | beatcloud&lt;/a&gt;
                            </span>
                        </span>
                    </dd>
                </div>
                <div class="ap-associate-share-tags__item">
                    <dt class="ap-associate-share-tags__name">サムネイル付きリンク <span class="ap-copytext__button" data-copy-icon="associate_tag2">タグをコピー</span></dt>
                    <dd class="ap-associate-share-tags__target">
                        <span data-copy="associate_tag2" data-copy-multiline class="ap-copytext">
                            <span class="ap-copytext__target" data-copy-target="associate_tag2">
                                &lt;a href="https://beatcloud.jp/product/3004?atag=grantechcoltd"&gt;&lt;img src="https://beatcloud.jp/storage/products/3004/yGFsaAp5XoqxCd5EAC24b239kPEgVHTgig6teVZm.jpg" alt=""&gt; IK Multimedia(ソフトウェア) Pianoverse Grand Piano Y7 | beatcloud&lt;/a&gt;
                            </span>
                        </span>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="ap-footer__frame">
        <div class="ap-footer__nav">
            <div class="ap-footer-menu">
                <h2 class="ap-footer-menu__title">商品情報</h2>
                <ul class="">
                    <li><a href="">新着</a></li>
                    <li><a href="">カテゴリーから</a></li>
                    <li><a href="">ブランドから</a></li>
                    <li><a href="">実施中のセール</a></li>
                </ul>
            </div>
            <div class="ap-footer-menu">
                <h2 class="ap-footer-menu__title">サポート</h2>
                <ul class="">
                    <li><a href="">よくある質問</a></li>
                    <li><a href="">お問い合わせ</a></li>
                </ul>
            </div>
            <div class="ap-footer-menu">
                <h2 class="ap-footer-menu__title">企業情報</h2>
                <ul class="">
                    <li><a href="">会社概要</a></li>
                    <li><a href="">個人情報保護に関して</a></li>
                    <li><a href="">特定商取引法および古物営業法に基づく表記</a></li>
                </ul>
            </div>
        </div>
        <div class="ap-footer__external">
            <ul class="ap-footer-socialmedias">
                <li><a href=""><img src="{{root}}assets/img/s-youtube.svg" alt="youtube"></a></li>
                <li><a href=""><img src="{{root}}assets/img/s-instagram.svg" alt="instagram"></a></li>
                <li><a href=""><img src="{{root}}assets/img/s-facebook.svg" alt="facebook"></a></li>
                <li><a href=""><img src="{{root}}assets/img/s-x.svg" alt="x"></a></li>
            </ul>
        </div>
    </div>
    <div class="ap-footer__bottom">&copy;Hookup, inc.</div>
</footer>
<div class="ap-pagetop" data-pagetop="50"><a href="#" data-jump>ページトップへ</a></div>
<div class="ap-search" data-search>
    <div class="ap-search__frame">
        <form class="ap-search__form" action="{{root}}index.html" method="GET">
            <input type="search" name="q" placeholder="検索キーワード">
            <input type="submit" value="検索">
        </form>
        <span class="ap-search__close" data-search-close>キャンセル</span>
    </div>
</div>
<div class="ap-overlay" data-overlay></div>