<footer class="ap-footer">
    <a class="ap-anchor" id="associate"></a>
    <div class="ap-associate-share">
        <div class="ap-associate-share__frame">
            <dl class="ap-associate-share-tags">
                <div class="ap-associate-share-tags__item">
                    <dt class="ap-associate-share-tags__name"><span>アソシエイトメンバー様用URL</span></dt>
                    <dd class="ap-associate-share-tags-target" data-copy="associate_url">
                        <span class="ap-associate-share-tags-target__text">
                            <span data-copy-target="associate_url">https://beatcloud.jp/product/3004?atag=grantechcoltd</span>
                        </span>
                        <span class="ap-associate-share-tags-target__button" data-copy-icon="associate_url">コピー</span>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="ap-footer__frame">
        <div class="ap-footer__nav">
            <div class="ap-footer-menu">
                <h2 class="ap-footer-menu__title">商品情報</h2>
                <ul class="">
                    <li><a href="">新着</a></li>
                    <li><a href="">カテゴリーから</a></li>
                    <li><a href="">ブランドから</a></li>
                    <li><a href="">実施中のセール</a></li>
                </ul>
            </div>
            <div class="ap-footer-menu">
                <h2 class="ap-footer-menu__title">サポート</h2>
                <ul class="">
                    <li><a href="{{root}}docs/faq/index.html">よくある質問</a></li>
                    <li><a href="{{root}}contact.html">お問い合わせ</a></li>
                </ul>
            </div>
            <div class="ap-footer-menu">
                <h2 class="ap-footer-menu__title">企業情報</h2>
                <ul class="">
                    <li><a href="{{root}}docs/about/index.html">会社概要</a></li>
                    <li><a href="{{root}}docs/about/privacy.html">個人情報保護に関して</a></li>
                    <li><a href="{{root}}docs/about/sct.html">特定商取引法および古物営業法に基づく表記</a></li>
                </ul>
            </div>
        </div>
        <div class="ap-footer__external">
            <ul class="ap-footer-socialmedias">
                <li><a href=""><img src="{{root}}assets/img/s-youtube.svg" alt="youtube"></a></li>
                <li><a href=""><img src="{{root}}assets/img/s-instagram.svg" alt="instagram"></a></li>
                <li><a href=""><img src="{{root}}assets/img/s-facebook.svg" alt="facebook"></a></li>
                <li><a href=""><img src="{{root}}assets/img/s-x.svg" alt="x"></a></li>
            </ul>
        </div>
    </div>
    <div class="ap-footer__bottom">&copy;Hookup, inc.</div>
</footer>
<div class="ap-pagetop" data-pagetop="50"><a href="#" data-jump>ページトップへ</a></div>
<div class="ap-search" data-search>
    <div class="ap-search__frame">
        <form class="ap-search__form" action="{{root}}index.html" method="GET">
            <input type="search" name="q" placeholder="検索キーワード">
            <input type="submit" value="検索">
        </form>
        <span class="ap-search__close" data-search-close>キャンセル</span>
    </div>
</div>
<div class="ap-overlay" data-overlay></div>