<footer class="ap-footer">
    <div class="ap-footer__frame">
        <div class="ap-footer__nav">
            <div class="ap-footer-menu">
                <h2 class="ap-footer-menu__title">商品情報</h2>
                <ul class="">
                    <li><a href="">新着</a></li>
                    <li><a href="">カテゴリーから</a></li>
                    <li><a href="">ブランドから</a></li>
                    <li><a href="">実施中のセール</a></li>
                </ul>
            </div>
            <div class="ap-footer-menu">
                <h2 class="ap-footer-menu__title">サポート</h2>
                <ul class="">
                    <li><a href="">よくある質問</a></li>
                    <li><a href="">お問い合わせ</a></li>
                </ul>
            </div>
            <div class="ap-footer-menu">
                <h2 class="ap-footer-menu__title">企業情報</h2>
                <ul class="">
                    <li><a href="">会社概要</a></li>
                    <li><a href="">個人情報保護に関して</a></li>
                    <li><a href="">特定商取引法および古物営業法に基づく表記</a></li>
                </ul>
            </div>
        </div>
        <div class="ap-footer__external">
            <ul class="ap-footer-socialmedias">
                <li><a href=""><img src="{{root}}assets/img/s-youtube.svg" alt="youtube"></a></li>
                <li><a href=""><img src="{{root}}assets/img/s-instagram.svg" alt="instagram"></a></li>
                <li><a href=""><img src="{{root}}assets/img/s-facebook.svg" alt="facebook"></a></li>
                <li><a href=""><img src="{{root}}assets/img/s-x.svg" alt="x"></a></li>
            </ul>
        </div>
    </div>
    <div class="ap-footer__bottom">&copy;Hookup, inc.</div>
</footer>