<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<!-- <meta name='viewport' content='width=device-width, height=device-height, initial-scale:1, user-scalable=no' /> -->
<link rel="icon" type="image/png" href="{{root}}assets/img/favicon.png">
<title>{{meta-title}}</title>
<link rel="stylesheet" href="{{#timestamp}}{{root}}assets/css/app.css{{/timestamp}}">
{{#if description}}
<meta name="description" content="{{description}}">
{{/if}}