<header>
    <div class="ap-topbar" data-header-holder>
        <div class="ap-topbar__content" data-header>
            <div class="ap-topbar__frame">
                <h1 class="ap-topbar__name"><a href="{{root}}index.html"><img src="{{root}}assets/img/logo.png" alt="beatcloud"></a></h1>
                <nav class="ap-topbar-menu" data-nav>
                    <span class="ap-topbar-menu__button " data-nav-button></span>
                    <ul class="" data-nav-menu>
                        <li><a href="{{root}}products/index.html">商品を探す</a></li>
                        <li><a href="{{root}}brands.html">ブランド</a></li>
                        <li><a href="">新着商品</a></li>
                        <li><a href="">セール品</a></li>
                    </ul>
                </nav>
                <nav class="ap-topbar-submenu">
                    <ul>
                        <li><span class="-search" data-search-button>検索</span></li>
                        <li><a class="-bookmarks" href="">欲しいものリスト</a></li>
                        <li><a class="-cart" href="">カート</a></li>
                    </ul>
                    <a class="ap-topbar-submenu__account" href="">サインイン</a>
                </nav>
            </div>
        </div>
    </div>
</header>
