<header>
    <div class="ap-topbar">
        <div class="ap-topbar__content">
            <div class="ap-topbar__frame">
                <h1 class="ap-topbar__name"><a href="{{root}}index.html"><img src="{{root}}assets/img/logo.png" alt="beatcloud"></a></h1>
                <nav class="ap-topbar-menu" data-nav>
                    <span class="ap-topbar-menu__button " data-nav-button></span>
                    <ul class="" data-nav-menu>
                        <li><a href="{{root}}products/index.html">商品を探す</a></li>
                        <li><a href="{{root}}brands.html">ブランド</a></li>
                        <li><a href="">新着商品</a></li>
                        <li><a href="{{root}}bargains/index.html">セール品</a></li>
                    </ul>
                </nav>
                <div class="ap-topbar-submenu">
                </div>
            </div>
        </div>
    </div>
</header>
