.ap-product-footer {
    @include breakpoint(small only) {
        padding-top: 3rem;
    }

    @include breakpoint(medium only) {
        padding-top: 4rem;
    }

    @include breakpoint(large down) {}

    @include breakpoint(large) {
        @include xy-grid-container;
        padding-top: 5.5rem;
    }

    &__frame {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        @include breakpoint(large down) {
            @include xy-grid-container($width: $ap-product-body-width);
        }

        @include breakpoint(large) {}

        @include breakpoint(xlarge) {
            margin: 0 0 0 30%;
            width: 60%;
        }

        @include breakpoint(xxlarge) {
            margin: 0 auto;
            width: 50%;
        }
    }

    &__copy {
        margin: 0;
        padding: .5rem;
        background: transparent url(../img/bg-2.jpg) repeat 0 0 / 75px;
        font-size: 1.125rem;

        @include breakpoint(small only) {}

        @include breakpoint(medium only) {}

        @include breakpoint(large) {}

        @include breakpoint(xlarge) {}

        >*:last-child {
            margin-bottom: 0;
        }
    }
}