.ap-product-footer {
    @include breakpoint(small only) {
        padding-top: 3rem;
    }

    @include breakpoint(medium only) {
        padding-top: 4rem;
    }

    @include breakpoint(large down) {}

    @include breakpoint(large) {
        @include xy-grid-container;
        padding-top: 5.5rem;
    }

    &__frame {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        @include breakpoint(large down) {
            @include xy-grid-container($width: $ap-product-body-width);
        }

        @include breakpoint(large) {}

        @include breakpoint(xlarge) {
            margin: 0 0 0 30%;
            width: 60%;
        }

        @include breakpoint(xxlarge) {
            margin: 0 auto;
            width: 50%;
        }
    }

    &__copy {
        margin: 0 0 1.25rem 0;
        padding: .5rem .75rem .5rem 42px;
        font-size: 1rem;

        background: rgba(180, 180, 180, 0.15) url(../img/tag.svg) no-repeat 12px center / 22px;
        // border-bottom: 5px solid rgba(180, 180, 180, 0.2);//rgba(238, 98, 77, 0.1);

        @include breakpoint(xlarge) {
            font-size: 1.125rem;
        }

        @include breakpoint(small only) {}

        @include breakpoint(medium only) {}

        @include breakpoint(large) {}

        @include breakpoint(xlarge) {}

        >*:last-child {
            margin-bottom: 0;
        }
    }
}