.ap-account-main {
    @include breakpoint(medium) {}

    @include breakpoint(large) {
        display: flex;
    }

    &__content {
        // background: $white;

        @include breakpoint(medium) {}

        @include breakpoint(large) {
            padding: 0 0 0 2rem;
            width: 72%;
        }

        @include breakpoint(xlarge) {
            width: 75%;
        }
    }

    &__nav {
        @include breakpoint(medium) {}

        @include breakpoint(large) {
            width: 28%;
        }

        @include breakpoint(xlarge) {
            width: 25%;
        }
    }
}