.ap-account-maintitle {
    @include breakpoint(small only) {
        margin-bottom: 2rem;
    }

    @include breakpoint(medium only) {
        margin-bottom: 2rem;
    }

    @include breakpoint(large) {
        display: flex;
        align-items: flex-end;
        margin-bottom: 4rem;
    }
}