.ap-browse {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    @include xy-grid-container;
    width: 100%;

    @include breakpoint(small only) {}

    @include breakpoint(medium only) {}

    @include breakpoint(large) {}

    &__header {

        @include breakpoint(small only) {
            margin-bottom: 2rem;
        }

        @include breakpoint(medium) {
            display: flex;
            align-items: flex-end;
            margin-bottom: 2rem;
        }

        @include breakpoint(large) {
            margin-bottom: 4rem;
        }
    }

    &__main {
        flex: 1 0 auto;

        @include breakpoint(large) {
            display: flex;
            column-gap: 1.5rem;
        }

        @include breakpoint(xlarge) {
            display: flex;
            column-gap: 1.5rem;
        }

        @include breakpoint(xxlarge) {
            display: flex;
            column-gap: 1.75rem;
        }
    }
}