.ap-browse-filter {
    // border-top: 1px solid $ap-border-color-nega;

    background: transparent url(../img/bg-2.jpg) repeat 0 0 / 75px;

    .-active & {
        // background: transparent url(../img/bg.jpg) repeat 0 0 / 75px;
    }

    @include breakpoint(large) {
        margin: 0 0 .5rem 0;
        padding: 1.35rem 1.25rem;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        margin: 0 0 1rem 0;
        line-height: 1;
        font-size: 1.0625rem;
        font-weight: 500;
    }

    &__item {
        margin: 0;
        padding: 0;
        list-style-type: none;

        >li {
            padding: .125rem 0;

            >a {
                color: $body-font-color;

                &:hover {
                    color: $anchor-color-hover;
                }
            }
        }
    }
}