.ap-browse-filter {

    .-active & {
        // background: transparent url(../img/bg.jpg) repeat 0 0 / 75px;
    }

    @include breakpoint(medium down) {
        margin: 0 0 1.5rem 0;
        // padding: 1.5rem 1.5rem;
        // border-color: $ap-border-color;
        border: 0;

        &:first-child {
            margin-top: 0;
            border-top: 0;
        }

        &:last-child {}
    }

    @include breakpoint(large) {
        margin: 0;
        padding: 1.5rem 1.25rem 1.5rem 0;
        border-top: 1px solid $ap-border-color-nega;
    }

    &:last-child {
        // margin-bottom: 0;
    }

    &__title {
        line-height: 1;
        font-size: 1.0625rem;
        font-weight: 500;

        @include breakpoint(medium down) {
            margin: 0 0 1.5rem 0;
            padding: 0.75rem 1.5rem;
            background: transparent url(../img/bg.jpg) repeat 0 0 / 75px;
        }

        @include breakpoint(large) {
            margin: 0 0 1rem 0;
        }
    }

    &__item {
        margin: 0;
        padding: 0;
        list-style-type: none;

        >li {
            >label {
                font-size: 1rem;
            }

            @include breakpoint(medium down) {
                // padding: 1.5rem 1.5rem;
                padding: .5rem 1.5rem;
            }

            @include breakpoint(large) {
                padding: .25rem 0;
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            >a {
                color: $body-font-color;

                &:hover {
                    color: $anchor-color-hover;
                    text-decoration: underline;
                }
            }

            &[aria-hidden="true"] {
                display: none!important;
            }
        }

        .ap-edit-radio-set,
        .ap-edit-checkboxset {
            cursor: pointer;

            @include breakpoint(large) {
                .ap-edit-radio {
                    visibility: hidden;
                    margin: 0 !important;
                    width: 0;
                }

                &:hover {
                    color: $anchor-color;
                }
            }
        }
    }

    &__fold {
        display: block;
        margin: .75rem 0 0 0;
        color: $anchor-color;

        &:hover {
            color: $anchor-color-hover;
        }

        cursor: pointer;
    }
}