.ap-browse-order {
    @include breakpoint(small only) {
        margin: 0 0 0 auto;
    }

    @include breakpoint(medium only) {
        margin: 0 0 0 2rem;
    }

    &__title {
        margin: 0;
        cursor: pointer;
    }

    &__items {
        display: none;
    }
}