.ap-browse-orderby {
    $parent: &;
    position: relative;

    @include breakpoint(small only) {
        margin: 0 auto;
    }

    @include breakpoint(medium only) {
        margin: 0 0 0 2rem;
    }

    @include breakpoint(large) {
        // margin: 0 0 0 2rem;
    }

    &__title {
        margin: 0;
        cursor: pointer;
        font-size: 0.9375rem;
        font-weight: 400;

        @include breakpoint(large) {
            display: none;
            // margin: 0 0 0 2rem;
            padding: 0.5rem 0.75rem;
            background-color: rgba(180, 180, 180, 0.2);
            @include border-radius;
            // background: transparent url(../img/bg-2.jpg) repeat 0 0 / 75px;
        }
    }

    &__items {
        margin: 0;
        padding: 0;
        list-style-type: none;

        >li {
            font-size: 0.9375rem;

            >a {
                display: block;
                padding: 0.5rem 0.75rem;
                background-color: rgba(120, 120, 120, 0.1);
                color: $body-font-color;

                &:hover {
                    background-color: $white; //gba(120, 120, 120, 0.5);
                }
            }

            &:first-child {
                >a {
                    border-top-left-radius: $global-radius;
                    border-bottom-left-radius: $global-radius;
                }
            }

            &:last-child {
                >a {
                    border-top-right-radius: $global-radius;
                    border-bottom-right-radius: $global-radius;
                }
            }
        }

        @include breakpoint(small only) {}

        @include breakpoint(small) {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 2px;

            >li {
                &.-radio {
                    display: block;
                    padding: 0.5rem 0.75rem;
                    background-color: rgba(120, 120, 120, 0.1);
                    color: $body-font-color;

                    &:first-child {
                        border-top-left-radius: $global-radius;
                        border-bottom-left-radius: $global-radius;
                    }

                    &:last-child {
                        border-top-right-radius: $global-radius;
                        border-bottom-right-radius: $global-radius;
                    }

                    &:hover {
                        background-color: $white;
                        // color: $anchor-color;
                    }
                }

                &.-active {

                    &.-radio,
                    >a {
                        background-color: $white !important;
                    }
                }
            }

            .ap-edit-radio-set,
            .ap-edit-checkboxset {
                display: flex !important;
                cursor: pointer;
                font-size: 0.9375rem;
                white-space: nowrap;
                line-height: 1.2;

                .ap-edit-radio {
                    visibility: hidden;
                    margin: 0 !important;
                    width: 0;
                }

                &:hover {
                    // color: $anchor-color;
                }
            }
        }
    }

    &.-filter {
        margin: 0 0 1.5rem 0;
        // padding: 1.5rem 1.5rem;
        // border-color: $ap-border-color;
        border: 0;

        &:first-child {
            margin-top: 0;
            border-top: 0;
        }

        &:last-child {}

        #{$parent}__title {
            @include breakpoint(medium down) {
                display: block;
                margin: 0 0 1.5rem 0;
                padding: 0.75rem 1.5rem;
                background: transparent url(../img/bg.jpg) repeat 0 0 / 75px;
                line-height: 1;
                font-size: 1.0625rem;
                font-weight: 500;

                >span {
                    display: none;
                }
            }
        }

        #{$parent}__items {
            @include breakpoint(medium down) {
                display: block;

                >li {
                    >label {
                        font-size: 1rem;
                    }

                    @include breakpoint(medium down) {
                        // padding: 1.5rem 1.5rem;
                        padding: .5rem 1.5rem;
                    }

                    @include breakpoint(large) {
                        padding: .25rem 0;
                    }

                    &:first-child {
                        padding-top: 0;
                    }

                    &:last-child {
                        padding-bottom: 0;
                    }

                    >a {
                        color: $body-font-color;

                        &:hover {
                            color: $anchor-color-hover;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}