.ap-browse-sidebar {
    position: relative;

    @include breakpoint(medium down) {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        margin: auto;

        &.-active {
            display: block;
            background-color: rgba(30, 30, 30, 0.5);
        }
    }

    @include breakpoint(large) {
        flex: 0 0 auto;
        width: 24%;
    }

    @include breakpoint(xlarge) {
        width: 20%;
    }

    @include breakpoint(xxlarge) {
        width: 20%;
    }

    &__frame {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        overflow-y: scroll;


        // @include breakpoint(large) {
            &::-webkit-scrollbar {
                -webkit-appearance: none;

                &:vertical {
                    width: .5rem;
                }

                &:horizontal {
                    height: .5rem;
                }
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 8px;
                // border: 2px solid #fdfdfd; /* should match background, can't be transparent */
                background-color: rgba(0, 0, 0, .5);
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-corner {
                background-color: transparent;
            }
        // }
    }
}