.ap-browse-sidebar {
    position: relative;


    @include breakpoint(large) {
        width: 30%;
    }

    &__frame {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        overflow: scroll;
    }
}