.ap-delivery-detail {
    $parent: &;

    margin: 2rem 0 0 0;
    width: 100%;
    border-spacing: 0;
    border-top: 1px solid $black;
    border-left: 1px solid $black;

    >caption {
        margin: 0 0 .5rem 0;
        font-size: .875rem;
        font-weight: bold;
        text-align: left;
    }

    th,
    td {
        margin: 0;
        padding: .5rem;
        border-right: 1px solid $black;
        border-bottom: 1px solid $black;
        line-height: 1.2;
        font-size: .875rem;

        &#{$parent}__id {
            width: 9rem;
        }
        &#{$parent}__name {
            >small {
                display: inline-block;
                margin: .25rem 0 0 0;
                font-size: .8125rem;
            }
        }
        &#{$parent}__qty {
            width: 5rem;
        }
        &#{$parent}__unit {
            width: 6.5rem;
        }
        &#{$parent}__subtotal {
            width: 8rem;
        }
        &#{$parent}__rate {
            width: 4rem;
        }
    }

    th {
        font-weight: normal;
        text-align: center;
    }

    td {
        text-align: left;

        &#{$parent}__qty,
        &#{$parent}__unit,
        &#{$parent}__subtotal,
        &#{$parent}__rate {
            text-align: right;
        }
    }
}