.ap-delivery-props {
    width: 100%;
    border-spacing: 0;
    // border-top: 1px solid $black;
    // border-left: 1px solid $black;

    th,
    td {
        margin: 0;
        padding: .5rem;
        // border-right: 1px solid $black;
        border-bottom: 1px solid $black;
        line-height: 1.2;
        font-size: .875rem;
        font-weight: normal;
    }

    th {
        width: 11rem;
        text-align: right;
    }

    td {
        // width: 15rem;
        text-align: left;
    }
}