.ap-edit-checkbox {
    $parent: &;

    display: block;
    position: relative;
    // margin: 0 auto;
    padding: 0;
    width: 19px;
    height: 19px;
    cursor: pointer;
    user-select: none;

    &__mark {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";

        margin: auto;
        padding: 0;
        border: 1px solid $medium-gray;
        border-radius: 3px;
        background-color: $white;

        &:hover {
            background-color: #CBCBF4;

            &:after {
                display: block;
            }
        }

        &:after {
            display: none;
            content: "";
            position: absolute;
            left: 5px;
            top: 3px;
            width: 7px;
            height: 9px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }

        &.-readonly {
            background-color: $ap-inputmimic-bg-color;
            border-color: $ap-inputmimic-bg-color;
            cursor: not-allowed;

            &:hover {
                &:after {
                    display: none;
                }
            }

            &.-checked {
                // background-color: $anchor-color;
                // border-color: $anchor-color;

                &:after {
                    display: block;
                    border-color: $anchor-color;
                }
            }
        }
    }

    >input[type=checkbox] {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        cursor: pointer;
        margin: 0;
        padding: 0;

        &:checked~#{$parent}__mark {
            background-color: $anchor-color;
            border-color: $anchor-color;

            &:after {
                display: block;
            }
        }

        &:disabled {
            &~#{$parent}__mark {
                background-color: $light-gray;
                border: $input-border;
                cursor: not-allowed;
            }

            &:checked~#{$parent}__mark {}

            &:not(:checked)~#{$parent}__mark {
                &:hover {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    &:hover input~#{$parent}__mark {
        border-color: #CBCBF4;
    }

    &.-s {
        width: 16px;
        height: 16px;

        #{$parent}__mark {
            &:after {
                left: 4px;
                top: 2px;
                width: 6px;
                height: 8px;
                border-width: 0 3px 3px 0;
            }
        }
    }

    &.-center {
        margin: 0 auto;
    }
}