.ap-associate-header {
    @include breakpoint(small only) {

    }

    @include breakpoint(medium) {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        >* {
            margin-bottom: 0!important;
            // align-items: flex-end!important;
        }

        .ap-edit-item__label {
            margin-right: .5rem!important;
            font-size: 0.9375rem!important;
        }
    }

    @include breakpoint(large) {}
}