.ap-associate-share-tags {
    @include breakpoint(small only) {}

    @include breakpoint(medium only) {}

    @include breakpoint(large) {
    }

    @include breakpoint(xlarge) {
    }

    &__item {
        @include breakpoint(small only) {
            margin: 0 0 1rem 0;
        }

        @include breakpoint(medium only) {
            margin: 0 0 1rem 0;
        }

        @include breakpoint(large) {
            margin: 0 0 .875rem 0;
            width: 100%;
        }

        @include breakpoint(xlarge) {
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__name {
        display: flex;
        margin: 0;
        padding: 0 .125rem;
        font-weight: normal;

        .ap-copytext__button {
            margin: 0 0 0 auto;
        }
    }
}